<template>
  <div class="footer">
    <footer md-footer style="padding-left: 0;" class="light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Master the TOEFL</h5>
            <p class="grey-text text-lighten-4">Master the TOEFL is the right place to practice your speaking and improve your TOEFL score!</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#/contact">Found any bug? Have any suggestions?</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright
        </div>
      </div>
    </footer>
  </div>
</template>